*{
    font-family: 'Roboto', sans-serif;
}
a{
    all:unset;
    transition:color,0.2s;
    font-weight: bold;
}
a:hover{
    color:#c8c8c8;
    cursor:pointer;
}
body{
    padding:0;
    margin:0;
    
}
.menu1{
    background-color:#008080;
    color:white;
}
.v_ari{
    position: absolute;
    left:0px;
    top:7.5vh;
    
}
.video_ari{
    width:98.8vw;
    z-index: 3;
}
.blq_1{
    position: absolute;
    top:30vh;
    left:0vw;
    z-index: 1;
}